@import 'bootstrap/dist/css/bootstrap.min.css';

:root {
  --white-color: #FFFFFF;
  --pink-color: #FE02AA;
  --soft-pink-color: #FFD5DC;
  --black-color: #262E33;
  --dark-grey-color: #D2D2D2;
  --grey-color: #EDEDF0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  background-color: var(--white-color);
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: var(--black-color);
  text-decoration: none;
}

/* -------------- */

.hero-title {
  color: #262E33;
  padding-bottom: 20px;
  padding-top: 70px;
}

.hero-text {
  margin-top: -10px;
}

.hero-avatar {
  width: 580px !important;
  height: 580px !important;
  margin: 30px 0px;
}

main {
  font-family: 'Montserrat', sans-serif;
}