@import 'bootstrap/dist/css/bootstrap.min.css';

:root {
  --white-color: #FFFFFF;
  --pink-color: #FE02AA;
  --soft-pink-color: #FFD5DC;
  --black-color: #262E33;
  --dark-grey-color: #D2D2D2;
  --grey-color: #EDEDF0;
  --blue-purple-gradient: linear-gradient(135deg, #441e5b, #183463);
  --blue-color: #183463;
  --purple-color: #441e5b;
  --blue-link-color: #1E365E;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  background-color: var(--white-color);
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: var(--black-color);
  text-decoration: none;
}


/* ------- GLOBAL --------- */


main,
nav,
footer {
  font-family: 'Montserrat', sans-serif;
}

.hero,
.intro {
  padding: 150px 0px;
}

.companie-section,
.work-section,
.collaborations-section {
  padding: 50px 0px;
}


/* ------- HERO SECTION --------- */


.hero-title {
  margin-top: -80px;
  color: var(--black-color);
}

.hero-avatar {
  width: 580px !important;
  height: 580px !important;
  margin: 30px 0px;
}

@media screen and (max-width: 840px) {
  .hero-avatar {
    width: 350px !important;
    height: 350px !important;
  }
}


/* ------- INTRO SECTION --------- */


.intro {
  background-color: var(--pink-color);
}

.intro-heading {
  margin-bottom: 20px;
}

.intro-heading,
.intro-text {
  color: var(--white-color);
}


/* ------- TOOLS SECTION --------- */


.tools-section {
  border: 1px solid var(--dark-grey-color);
  border-radius: 15px;
  margin-top: -100px;
  background-color: var(--white-color);
}

.tool-card {
  border-right: 1px solid var(--dark-grey-color);
}

@media screen and (max-width: 991px) {
  .tool-card {
    border-right: none !important;
    border-bottom: 1px solid var(--dark-grey-color);
    margin-bottom: 60px;
  }
}

.tool-card-content {
  padding: 50px 10px;
}

.tool-icon-wrapper {
  height: 80px;
  width: 80px;
  background-color: var(--soft-pink-color);
  border-radius: 50%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.tool-icon {
  height: 40px;
  width: 40px;
}

.tool-primary-content,
.tool-secondary-content,
.tool-tertiary-content,
.tool-quaternary-content {
  margin: 60px 0px;
}

.tool-title {
  margin: 25px 0px;
  color: var(--black-color);
}

.tool-subtitle {
  color: var(--pink-color);
}


/* ------- COMPANIE SECTION --------- */


.section-title {
  margin-top: 60px;
  color: var(--black-color);
}

.section-description {
  margin: 20px 0px;
  margin-bottom: 50px;
}

.btn-explore {
  background: var(--white-color);
  color: var(--purple-color);
  border-radius: 50px;
  padding: 10px 20px;
  border: 1px solid var(--purple-color);
  position: relative;
  overflow: hidden;
  transition: transform 0.3s ease, color 0.3s ease;
}

.btn-explore::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--blue-purple-gradient);
  transform: scaleX(0);
  transform-origin: bottom right;
  transition: transform 0.5s ease;
  z-index: -1;
}

.btn-explore:active,
.btn-explore:hover {
  color: var(--white-color) !important;
  transform: translateY(-4px);
  background-color: var(--white-color) !important;
  border: 1px solid var(--purple-color) !important;
}

.btn-explore:hover::before {
  transform: scaleX(1);
}


/* ------- WORK SECTION --------- */


.work-email-link {
  text-decoration: none;
}

.work-email-link:hover,
.work-email-link:active {
  color: var(--blue-link-color) !important;
}

.project-cards-container {
  margin: 0px 150px 0px 150px;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  border-radius: 10px;
  padding: 15px;
  height: 100%;
}

.card-img-top {
  object-fit: contain;
  max-width: 100%;
  height: auto;
  margin-bottom: 15px;
}

.sou {
  max-height: 70px;
  max-width: 130px;
  height: auto;
  width: auto;
  object-fit: cover;
}

.pequena-ametista {
  max-height: 100px;
  max-width: 240px;
  height: auto;
  width: auto;
  object-fit: cover;
}

.card-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin-bottom: 10px;
}

.project-type {
  background-color: var(--grey-color);
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 6px;
  font-size: 14px;
}

.project-type-icon {
  padding-right: 5px;
}

.project-type p {
  padding: 0;
  margin: 0;
}


/* ------- COLLABORATIONS SECTION --------- */


.collaborations-button {
  background-color: var(--white-color);
  color: var(--pink-color);
  border-radius: 50px;
  padding: 10px 20px;
  border: 1px solid var(--pink-color);
  position: relative;
  overflow: hidden;
  transition: transform 0.3s ease, color 0.3s ease;
}

.collaborations-icon {
  color: var(--pink-color);
  padding-right: 5px;
}

.collaborations-button::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--pink-color);
  transform: scaleX(0);
  transform-origin: bottom right;
  transition: transform 0.5s ease;
  z-index: -1;
}

.collaborations-button:active,
.collaborations-button:hover {
  color: var(--white-color) !important;
  transform: translateY(-4px);
  background-color: var(--white-color) !important;
  border: 1px solid var(--pink-color) !important;
}

.collaborations-button:hover .collaborations-icon {
  color: var(--white-color);
  transform: translateY(-4px);
}

.collaborations-button:hover::before {
  transform: scaleX(1);
}